@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Syne:wght@400..800&display=swap');

.dtexto_setores {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 3rem 0;
    gap: 0.8rem;
  
    img {
    background-color: #7F00FF;
    background: linear-gradient(to bottom right, #7F00FF, #BC00FF);
    box-shadow: 0 10px 15px -3px rgba(127, 0, 255, 0.5), 
    0 4px 6px -4px rgba(127, 0, 255, 0.5);
    height: 80px;
    width: 80px;
    padding: 0.75rem 0.75rem;
    border-radius: 1.1rem;
    }
    h2 {
      font-size:5rem;
      font-family: 'Syne', sans-serif;
      font-weight: 600;
      .titulo {
   
  }
  
  .titulo span {
    background: rgb(127, 0, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    }
    p {
      font-size: 1.14rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      color: #9D9AA8;
    }
    span {
      color: rgb(127, 0, 255);
    }
}
.conteiner_setores {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}
  
.dsetores_linha1 {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: 100%;
    width: 100%;
    gap: 2rem;
}
  
.dsetores1 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 16.5rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
}
  
.dsetores2 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 16.5rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
}
  
.dsetores3 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 17rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
}
  
.dsetores4 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 17rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
}
  
.dsetores1:hover,.dsetores2:hover,.dsetores3:hover,.dsetores4:hover {
    transform: translateY(-10px);
    border: 0.1px solid #7F00FF;
    h3 {
      color: #7F00FF;
    }
}
  
  
.dtexto_setores1 {
    height: 100%;
    width: 50%;
    padding: 2rem 1rem 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    font-weight: 0;
    padding: 0 0 1rem 0;
   }
  p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      color: #9D9AA8;
   }
   a {
     font-family: 'Nunito Sans', sans-serif;
     color: #7F00FF;
     text-decoration: none;
     font-size: 0.9rem;
   }
  }
  
  .dtexto_setores2 {
    padding: 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    padding: 0 0 1rem 0;
   }
   p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 550;
      color: #9D9AA8;
   }
   a {
    font-family: 'Nunito Sans', sans-serif;
    color: #7F00FF;
    text-decoration: none;
    font-size: 0.9rem;
   }
}
  
.dtexto_setores3 {
    padding: 1rem 1rem 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    font-weight: 0;
    padding: 0 0 1rem 0;
   }
  p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      color: #9D9AA8;
   }
   a {
     font-family: 'Nunito Sans', sans-serif;
     color: #7F00FF;
     text-decoration: none;
     font-size: 0.9rem;
   }
}
.dtexto_setores4 {
    padding: 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    padding: 0 0 1rem 0;
   }
   p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 550;
      color: #9D9AA8;
   }
   a {
    font-family: 'Nunito Sans', sans-serif;
    color: #7F00FF;
    text-decoration: none;
    font-size: 0.9rem;
    padding-top: 2rem;
   }
}
  
.verdetalhes {
    transition: all 0s ease-out;
}
  
.verdatalhes:hover {
    transform: translateX(8px);
    width: 1rem;
}
  
.imagem_maiorsetor1 {
    position: relative; /* IMPORTANTE */
     overflow: hidden; /* IMPORTANTE */
     border-radius: 1rem 0 0 1rem;
    img {
       transition: transform 0.3s ease;
      height: 100%;
      width: 12rem;
      border-radius: 1rem 0 0 1rem;
    }
  
    .pdaimagemmaior {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      margin: 1rem 0 0 1rem;
      border-radius: 2rem;
      background: rgba(34, 197, 94, 0.3);
      border: 0.1px solid rgba(34, 197, 94, 0.8);
      p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: 4rem;
      color: rgb(34, 197, 94);
      }
  
    }
}
  .imagem_maiorsetor1:hover img {
      transform: scale(1.1);
  }

.setorestexto {
    padding-bottom: 1rem;
}
  
.setorestexto1 {
    padding-bottom: 1rem;
}
  
.dados_setores {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.8rem;
    img {
    height: 1.1rem;
    width: 1.1rem;
    }
    p {
      font-size: 0.9rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 500;
      color: #9D9AA8;
    }
}
  
.main {
  padding: 0 2% 0 2%;
  color: white;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}


.modal {
  background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
  
  border-radius: 1rem;
  display: flex;
 
  max-width: 600px;
  border-color: #c014ff;
  box-shadow: 0 0 22px rgba(192, 20, 255, 0.25);
  width: 90%;
  color: white;
  h2 {
    text-align: center;
    margin: 0.5rem;
    font-size: 2rem;
  }
  img {
  width: 280px;
  min-height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
  }
}
input {
  transition: .3s;
}

input:focus {
  border: 1px solid #c000ff;

  box-shadow:
    0 0 10px rgba(192,0,255,.5);

  transform: scale(1.02);
}

.info {
  margin: 1rem;
  gap:1rem;
p {
  text-align: center;
  letter-spacing: .1rem;
  margin: 1rem auto;
}
textarea {
  display: block;
  margin: 0.5rem auto;
   background: rgba(20, 0, 30, 0.9);

  color: #ffffff;
resize: none;
outline: none;
  border: 1px solid rgba(192, 0, 255, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
}
textarea:focus {
  border: 1px solid #c000ff;

  box-shadow:
    0 0 10px rgba(192, 0, 255, .5),
    0 0 20px rgba(192, 0, 255, .2);

  background: rgba(30, 0, 40, 0.95);
}
textarea::placeholder {
   color: #9b6bb3;
   font-size: 1rem;

}
  button {
     background: #7a00ff;
  color: white;
  border: none;
  display: block;
  margin: auto;
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  button:hover {
  background-color: #c014ff;
  box-shadow: 0 0 12px rgba(193, 20, 255, 0.6);
}

}
